@model Job_Offers_Website.Models.Job

@{
    ViewBag.Title = "تعديل الوظيفة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

        <div class="alert alert-danger" id="error-div" style="display:none">
            <span id="view-err">

            </span>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.JobImage)

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" id="myIamge"/>
                @Html.ValidationMessageFor(model => model.JobImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "نوع الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" id="save"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الرجوع للقائمة الرئيسية", "Index")
</div>

@section script{
<script>
    $(function () {
        $("#save").click(function () {

            //check if the input is Empty
            //if ($("#JobImage").val() == "") {
            //    $("#error-div").fadeIn();
            //    $("#view-err").append("رجاء قم بإختيار صورة للوظيفة");
            //    return false;

            //}

            if ($("#myIamge").val() !== "") {

            //check if the Image extension is valid
                var filename = document.getElementById("myIamge").value;
            var extensionImage = filename.substr(filename.lastIndexOf('.') + 1);
            var validExtensions = ['jpg', 'png', 'gif', 'bmp'];
            if ($.inArray(extensionImage,validExtensions)== -1) {
                $("#error-div").fadeIn();
                $("#view-err").append("رجاء قم بإختيار صورة بإمتداد صحيح");
                return false;
            }

            //check if the Image Size is valid (2MB)
            var myFileSize = document.getElementById("myIamge").files[0].size / 1024 / 1024;
            if (myFileSize > 2) {
                $("#error-div").fadeIn();
                $("#view-err").append(" عفواً اقصي حجم للصورة 2 ميجابايت");
                return false;
            }
            }
        });
    });
</script>
}